@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Versie 1.0 Elis kijkt mee met papa :) </h1>
    <h1 class="display-4">Versie 1.1 hotfix without branch </h1>
            
</div>
